* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

nav li {
    padding: 10px;
}

/* COLORS AND FONT STYLES */
.dark-bg {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;

    /*in addition to style guide */
    margin: 0px;
}

.cta-color {
    color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-bg {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}