* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    font-family: 'Roboto', sans-serif;
}

/* header and navbar */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
}

a {
    color: #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

nav li {
    padding: 10px;
}

/* hero text section */
section button {
    padding: 5px 30px;
    border: 0;
    border-radius: 5px;
}

.extra-bold {
    font-weight: 900;
}

.italics {
    font-style: italic;
}

section.hero {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    height: 450px;
}

    div.heroleft {
        display: flex;
        flex: 0 1 25%;
        flex-direction: column;
    }

        p.hero-secondary {
            margin: 5px 0px;
        }

    figure.heroright {
        display: flex;
        flex: 0 1 fit-content;
        color: #F9FAF8;
        background-color: slategray;
        padding: 100px 150px;
    }

/* section - flex images */
section.somerandominfo {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    height: 450px;
}

h1.somerandominfo {
    text-align: center;
}

div.infowrap {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

div.infoitem {
    display: flex;
    flex: 1 0 175px;
    flex-direction: column;
    max-width: 175px;
    text-align: center;
  }

    div.infoitem img {
        flex: 1 0 175px;
        border: 4px solid #3882F6;
        border-radius: 15px;
        margin: 5px;
    }

div.infotext {
    color: rgba(0,0,0, 0.75);
    margin: 5px;
}

/* section - quote */
section.quote-bg {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    height: 450px;
}

div.quotewrap {
    display: flex;
    flex: 0 1 800px;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 20px;
}

p.quote-text {
    padding: 0px;
    margin: 0px;
}

div.quote-attrib {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
}

p.quote-attrib {
    font-size: 22px;
    font-style: normal;
    color:#1F2937;
    padding: 5px;
    margin: 5px;
}

/* section - call to action */
section.cta {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    height: 300px;
}

div.cta-wrap {
    display: flex;
    flex: 0 1 1000px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    flex-wrap: wrap;
    padding: 40px 5px;
    border-radius: 10px;
    margin: 20px;
}

div.cta-text {
    padding: 0px;
    margin: 0px;
}

h3.cta-text{
    font-size: 22px;
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

p.cta-text {
    font-size: 18px;
    color: rgba(229, 231, 235, 0.75); /*#E5E7EB as rgba to add alpha/transparency*/
    margin: 0px;
}

        button.cta-text {
            align-self: center;
            background-color: #3882F6;
            color: #E5E7EB;
            border: 2px solid #E5E7EB;
        }

        button.cta-color.hero-secondary {
            align-self: flex-start;
        }

/* COLORS AND FONT STYLES */
.dark-bg {
    background-color: #1F2937;
}
.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

    /*in addition to style guide */
    margin-bottom: 0px;
}
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}
.logo-text {
    font-size: 24px;
    color: #F9FAF8;

    /*in addition to style guide */
    margin: 0px;
}
.cta-color {
    background-color: #3882F6;
}
.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.quote-bg {
    background-color: #E5E7EB;
}
.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}